$font-primary: 'Avenir', Helvetica, Arial, sans-serif;
$font-secondary: 'Avenir', Helvetica, Arial, sans-serif;
$text-color-dark: #2D2D2D;
$text-color-light: #9A9A9A;
$primary-color: #E8AA8C;
$primary-accent-color: #F9F3E6;
$secondary-color: #E2DCD5;
$secondary-accent-color: #5E616A;

$background-color: $secondary-accent-color;
